<tr class="danger">
  <td>{{id}}</td>
  <td>{{title}}</td>
  <td>{{submission}}</td>
  <td>{{firstname}}</td>
  <td>{{lastname}}</td>
  <td>{{grade}}</td>
  <td><a href="{{gradelink}}">{{gradetext}}</a></td>
</tr>