<div class = "container">
  <ul class="nav nav-tabs">
    <li class="nav-item"><a class="nav-link" href="{{url_view}}">
          {{# str }} viewtab, mod_collaborate
    {{/ str }}</a></li>
    <li class="nav-item"><a class="nav-link active" href="{{url_reports}}">
          {{# str }} reportstab, mod_collaborate {{/ str }}</a></li></a></li>
 
    </ul>
</div>

<div class="card">
  <div class="card-body">
    <h2 class="card-title">{{heading}}</h2>
      <div class="table-responsive">
       <table class="table table-striped">
          <thead>
            {{#headers}}
               <th>{{.}}</th>
            {{/headers}}
          </thead>
          <tbody>
            {{#submissions}}
              {{> mod_collaborate/page_row}}
            {{/submissions}}
         </tbody>
       </table>
     </div>
     <a href="{{url_export}}">{{# str }} exportlink, mod_collaborate {{/ str }}</a><br>
  </div>
</div>